@model inmobiliaria.Models.Usuarios

@{
    ViewData["Title"] = "Crear Usuario";
}
<h1 class="text-center text-light">Cree un Usuarios</h1>
<h4><a asp-action="Index" ><button type="button" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i> Ver Usaurios</button></a></h4>
<hr />
<div class="container d-flex flex-column justify-content-between align-items-center">
    <div class="col-md-4">
        <form asp-action="Create" id="create" style="max-width: 500px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group " >
                <label asp-for="DNI" class="control-label text-light"></label>
                <input asp-for="DNI" class="form-control" value="" required/>
                <span asp-validation-for="DNI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label text-light"></label>
                <input asp-for="Nombre" class="form-control" required/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label text-light"></label>
                <input asp-for="Apellido" class="form-control" required/>
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label text-light"></label>
                <input asp-for="Telefono" class="form-control" value="" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label text-light"></label>
                <input asp-for="Mail" class="form-control" required/>
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" style="width: 100%;"/>
            </div>
        </form>
    </div>
    
</div>



