@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex flex-column justify-content-center align-items-center" style="min-height: 100%;">
    <h1 class="display-4 fw-bold text-light">Bienvenido</h1>
    <h5 class="text-white-50">Encuentra tu hogar aqui</h5>
</div>
<div>
    <p class="text-light">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor ab ipsa quisquam hic amet suscipit. Accusantium dolorem cupiditate laudantium odio repudiandae saepe, culpa necessitatibus maiores aut nulla a, totam inventore.
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nisi distinctio cupiditate possimus debitis quae. Officiis ex eaque, harum dicta similique, aperiam ut esse temporibus commodi ipsa et eveniet animi.
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam accusantium magnam molestias sequi? Sequi iure magni, minus dolores dolorum suscipit maxime harum odit mollitia dolore unde modi cumque perspiciatis. Molestias.
    </p>
</div>
