@model inmobiliaria.Models.Empleados

@{
    ViewData["Title"] = "Cambiar Avatar";
}

<h1 class="text-center text-light">Cambiar Avatar</h1><hr />
<div class="container d-flex flex-column justify-content-between align-items-center">
     <p class="text-light"><b>Advertecia:</b>Si envias este formulario sin subir ningun archivo , tu avatar anterior se perdera...</p>
    <hr />
    <div class="col-md-4">
        <form asp-action="CambiarAvatar" id="update" style="max-width: 500px;" enctype="multipart/form-data">
            <div class="form-group">
                 <dl class="row">
                    <dt class = "col-sm-5 text-light">
                        Id
                    </dt>
                    <dd class = "col-sm-7 text-light" asp-for="Id UsuarioId">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt class = "col-sm-5 text-light">
                        DNI
                    </dt>
                    <dd class = "col-sm-7 text-light">
                        @Html.DisplayFor(model => model.UsuarioId.DNI)
                    </dd>
                    <dt class = "col-sm-5 text-light">
                        Nombre
                    </dt>
                    <dd class = "col-sm-7 text-light">
                        @Html.DisplayFor(model => model.UsuarioId.Nombre)
                    </dd>
                    <dt class = "col-sm-5 text-light">
                        Apellido
                    </dt>
                    <dd class = "col-sm-7 text-light">
                        @Html.DisplayFor(model => model.UsuarioId.Apellido)
                    </dd>
                </dl>
            </div>
            <div class="form-group">
                <label asp-for="AvatarFileName" class="control-label text-light">Avatar</label>
                <input asp-for="AvatarFileName" class="form-control" />
                <span asp-validation-for="Clave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" style="width:100%;"/>
            </div>
        </form>
    </div>
</div>
